# Dependencias
node_modules/

# Archivos de SO
.DS_Store
Thumbs.db

# Entornos virtuales de python (si usas scripts)
venv/
.env
__pycache__/

# Archivos temporales de desarrollo
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
